body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* navbar */
.navbar {
    box-shadow: 0 4px 12px rgba(179, 179, 179, 0.5);
}

.navbar-nav .nav-item .nav-link {
  font-weight: normal;
  font-size: 16px;
  margin-right: 10px;
  color: #273147;
}

.btn {
  width: 142px;
  height: 42px;
  font-size: 16px;
  background: #6059F7;
  border-radius: 10px;
  border: none;
}

.btn:hover {
  background-color: #273147;
}

/* jumbotron */
.jumbotron h1 {
  font-weight: bold;
  font-size: 46px;
  color: #273147;
  line-height: 68px;
}

.jumbotron p {
  font-size: 18px;
  color: #273147;
  font-weight: lighter;
}

.jumbotron .btn {
    width: 152px;
    height: 42px;
  }

/* Mengapa DevPath */
.why {
    margin-top: 140px;
}
.why h1 {
  font-weight:  bold;
  font-size: 36px;
  letter-spacing: 0.1em;
  color: #273147;
}

.why p {
  font-size: 16px;
  color: #273147;
}

/* ulasan */
.ulasan h1 {
  color: #273147;
  font-weight: bold;
  line-height: 48px;
}

.ulasan p {
  color: #273147;
}

/* alur-belajar */
.alur-belajar{
  margin-top: 140px; 
}

.alur-belajar h1{
  font-weight: bold;
  color: #273147;
}

.alur-belajar p{
  color: #273147;
}

.alur-belajar a img{
height: 180px;
}

.alur-belajar a h4{
  font-size: 24px;
  color: #273147;
  font-weight: bold;
}

/* login */
.login h1{
  font-weight: bold;
  font-size: 36px;
  color: #273147;
  line-height: 50px;
}

.login label{
  color: #273147;
}

.login p a{
  color: #273147;
  font-weight: bold;
}

/* register */
.register h1{
  font-weight: bold;
  font-size: 36px;
  color: #273147;
  line-height: 50px;
}

.register label{
  color: #273147;
}

.register p a{
  color: #273147;
  font-weight: bold;
}

/* footer */
footer {
  background-color: #6059F7;
  margin-top: 140px;
}
