@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
  position: absolute;
  bottom: -8px; 
  left: 0;
  width: 110%;
  height: 4px;
  background: white;
  transition: transform 0.3s ease;
}

.banner {
  background-image: url("./assets/banner.jpg");
  background-position: center;
  background-size: cover;
  height: 500px; /* Sesuaikan dengan kebutuhan */
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
}

.content {
  position: relative;
  z-index: 2; /* Pastikan text berada di atas gambar */
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Overlay untuk mempergelap gambar */
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* Margin atas untuk jarak dengan elemen sebelumnya */
  margin-bottom: 2rem; /* Margin bawah untuk jarak dengan elemen berikutnya */
  list-style: none;
  padding: 0;
}

.pagination button {
  border-radius: 10px;
  border: 1px solid #d1d5db; /* Border gray-300 */
  background: transparent;
  padding: 0.8rem;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.pagination button:hover {
  background: var(--primary-color); /* Background color for hover */
  color: white; /* Text color on hover */
}

.pagination .active button {
  background: var(--primary-color); /* Background color for active button */
  color: white; /* Text color for active button */
}

.pagination .disabled {
  color: grey;
  background: grey;
}

.pagination .disabled button {
  background: grey;
}
